* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 0.73vw;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 83.021vw;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 420px) {
	.container {
		max-width: 93%;
	}
}

header {
	width: 100%;
	height: 7.292vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 420px) {
	header {
		height: 100%;
	}
}

.header__wrapper {
	width: 100%;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 420px) {
	.menu {
		padding-top: 7.7777777778vw;
		margin: auto;
		width: 95%;
	}
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 12.552vw;
}
@media (max-width: 420px) {
	.navigation {
		width: 100%;
		margin: auto;
	}
}

.logo .text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.667vw;
	line-height: 130%;
	color: #C51103;
}
@media (max-width: 420px) {
	.logo .text {
		font-size: 8.889vw;
	}
}

.burger__menu {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.burger__menu .icon {
	cursor: pointer !important;
	position: relative;
	width: 1.9109375vw;
}
.burger__menu .icon span {
	cursor: pointer;
	width: 1.9109375vw;
	height: 0.208vw;
	background-color: #626262;
	position: absolute;
}
.burger__menu .icon span::before {
	content: "";
	width: 1.875vw;
	height: 0.208vw;
	background-color: #626262;
	position: absolute;
	top: -0.46875vw;
	left: 0;
}
@media (max-width: 420px) {
	.burger__menu .icon span::before {
		width: 10.1916666667vw;
		top: -3.3333333333vw;
		height: 1.1111111111vw;
	}
}
.burger__menu .icon span::after {
	content: "";
	width: 1.25vw;
	height: 0.208vw;
	background-color: #626262;
	position: absolute;
	top: 0.46875vw;
	left: 0;
}
@media (max-width: 420px) {
	.burger__menu .icon span::after {
		width: 6.6666666667vw;
		top: 3.3333333333vw;
		height: 1.111vw;
	}
}
@media (max-width: 420px) {
	.burger__menu .icon span {
		width: 10.1916666667vw;
		left: -11.611vw;
		height: 1.111vw;
	}
}
.burger__menu .text {
	cursor: pointer;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.938vw;
	line-height: 150%;
	color: #999999;
	margin-left: 0;
	margin-left: 0.625vw;
}
@media (max-width: 420px) {
	.burger__menu .text {
		margin-left: 0;
		font-size: 5vw;
	}
}

.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 33.594vw;
}
.contact .l__phone, .contact .all__phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.contact .phone-number {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.146vw;
	line-height: 130%;
	color: #82B2A2;
}
.contact .text {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.938vw;
	line-height: 130%;
	color: #999999;
}
@media (max-width: 420px) {
	.contact {
		display: none;
	}
}

.login button {
	width: 10.26vw;
	border: 2px solid #82B2A2;
	background-color: white;
	padding: 0.625vw;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.833vw;
	line-height: 150%;
	text-align: center;
	color: #4A4A4A;
}
@media (max-width: 420px) {
	.login {
		display: none;
	}
}

.page .page__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.page .page__wrapper p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2.865vw;
	line-height: 130%;
	color: #1F1F1F;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 420px) {
	.page .page__wrapper p {
		font-size: 6.1111111111vw;
		width: 88%;
	}
}
.page .page__wrapper p span {
	color: #82B2A2;
}
.page .page__wrapper .__mobile {
	display: none;
}
@media (max-width: 420px) {
	.page .page__wrapper .__mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 3.8888888889vw;
		line-height: 150%;
		color: #1F1F1F;
		margin-top: 3.5714285714vw;
	}
}
.page .page__wrapper img {
	width: 45.208vw;
}
@media (max-width: 420px) {
	.page .page__wrapper img {
		display: none;
	}
}
@media (max-width: 420px) {
	.page .page__wrapper {
		-webkit-box-align: unset;
		    -ms-flex-align: unset;
		        align-items: unset;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media (max-width: 420px) {
	.page {
		padding-top: 8.3333333333vw;
	}
}

.card__wrapper {
	height: 33.8541666667vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.card__wrapper .title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.25vw;
	line-height: 130%;
	color: #1F1F1F;
	margin-bottom: 1.3541666667vw;
}
@media (max-width: 420px) {
	.card__wrapper .title {
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 4.1666666667vw;
		line-height: 130%;
		color: #1F1F1F;
		margin-bottom: 4.4444444444vw;
	}
}
.card__wrapper ul > li {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9375vw;
	line-height: 150%;
	color: #1F1F1F;
	margin-bottom: 1.3541666667vw;
}
@media (max-width: 420px) {
	.card__wrapper ul > li {
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 3.2222222222vw;
		line-height: 150%;
		color: #1F1F1F;
		margin-bottom: 5.5555555556vw;
	}
}
.card__wrapper .left__card, .card__wrapper .right__card-down, .card__wrapper .right__card-up {
	background-color: #F2F7F6;
	padding: 1.6666666667vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 420px) {
	.card__wrapper .left__card, .card__wrapper .right__card-down, .card__wrapper .right__card-up {
		width: 100%;
		height: 117.7777777778vw !important;
		margin-top: 4.1666666667vw;
		padding: 6.3888888889vw;
	}
}
.card__wrapper .left__card {
	height: 100%;
	width: 26.5104166667vw;
}
@media (max-width: 420px) {
	.card__wrapper .left__card {
		width: 100%;
	}
}
.card__wrapper .right__cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 54.7395833333vw;
	height: 100%;
}
@media (max-width: 420px) {
	.card__wrapper .right__cards {
		height: auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}
}
.card__wrapper .right__cards-up {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 420px) {
	.card__wrapper .right__cards-up {
		height: auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}
}
.card__wrapper .right__card-up {
	width: 26.5104166667vw;
	height: 18.8020833333vw;
}
@media (max-width: 420px) {
	.card__wrapper .right__card-up {
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}
}
.card__wrapper .lola {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 420px) {
	.card__wrapper .lola {
		height: auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}
}
.card__wrapper .right__card-down {
	height: 13.3333333333vw;
}
@media (max-width: 420px) {
	.card__wrapper .right__card-down {
		width: 100%;
	}
}
@media (max-width: 420px) {
	.card__wrapper {
		height: auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 7.5vw;
	}
}

.statistics {
	margin-top: 3.90625vw;
}
@media (max-width: 420px) {
	.statistics {
		margin-top: 0;
	}
}

.statistics__wrapper {
	width: 59.1666666667vw;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.statistics__wrapper .block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 14.6354166667vw;
}
@media (max-width: 420px) {
	.statistics__wrapper .block {
		width: 66.3888888889vw;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-top: 13.3333333333vw;
	}
}
.statistics__wrapper .number {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2.8645833333vw;
	line-height: 130%;
	color: #82B2A2;
}
@media (max-width: 420px) {
	.statistics__wrapper .number {
		font-size: 13.0555555556vw;
	}
}
.statistics__wrapper .text {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 0.9375vw;
	line-height: 150%;
	color: #1F1F1F;
	padding-left: 0.9375vw;
}
@media (max-width: 420px) {
	.statistics__wrapper .text {
		font-size: 4.1666666667vw;
		padding-left: 4.4444444444vw;
	}
}
@media (max-width: 420px) {
	.statistics__wrapper {
		width: 85%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

hr {
	width: 100%;
	height: 1px;
	background-color: #C0E4E4;
	margin-top: 4.1145833333vw;
	margin-bottom: 2.4479166667vw;
}
@media (max-width: 420px) {
	hr {
		display: none;
	}
}

@media (max-width: 420px) {
	.map {
		display: none;
	}
}

.map__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.map__wrapper .map__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 1.5625vw;
}
.map__wrapper .map__header .title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.875vw;
	line-height: 130%;
	color: #1F1F1F;
}
.map__wrapper .map__header .description {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9375vw;
	line-height: 140%;
	color: #999999;
	width: 21.09375vw;
}
.map__wrapper iframe {
	width: 100%;
	height: 18.6979166667vw;
}

@media (max-width: 420px) {
	footer {
		display: none;
	}
}

.footer__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__wrapper .footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__wrapper .footer__top .footer__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__wrapper .footer__top .footer__logo .logo__text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 130%;
	color: #C51103;
}
.footer__wrapper .footer__top .footer__logo .text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9375vw;
	line-height: 140%;
	color: #1F1F1F;
	width: 15.8854166667vw;
	margin-left: 1.3541666667vw;
}
.footer__wrapper .footer__bottom {
	height: 9.375vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__wrapper .footer__bottom .footer__contact {
	width: 12.96875vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer__wrapper .footer__bottom .footer__contact .title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 1.1458333333vw;
	line-height: 130%;
	color: #82B2A2;
	margin-bottom: 0.5208333333vw;
}
.footer__wrapper .footer__bottom .footer__contact .title svg {
	width: 1.25vw;
}
.footer__wrapper .footer__bottom .footer__contact .description {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 0.8333333333vw;
	line-height: 130%;
	color: #999999;
}