
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
  color: #000;
  font-size: .73vw;

  &.lock {
    overflow: hidden;
  }
}

@function size($px, $width) {
  $result: ($px / $width) *100vw;
  @return $result;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================


.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {
  }
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: 83.021vw;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 420px) {
    max-width: 93%;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//<ОСНОВНОЙ БЛОК>====================================================================================================

//HEADER

header {
  width: 100%;
  height: 7.292vw;
  display: flex;
  align-items: center;
  @media (max-width: 420px) {
    height: 100%;
  }
}

.header__wrapper {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 420px) {
    padding-top: size(28, 360);
    margin: auto;
    width: 95%;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12.552vw;
  @media (max-width: 420px) {
    width: 100%;
    margin: auto;
  }
}

.logo {
  .text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.667vw;
    line-height: 130%;
    color: #C51103;
    @media (max-width: 420px) {
      font-size: 8.889vw;
    }
  }
}

.burger__menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    cursor: pointer !important;
    position: relative;
    width: size(36.69, 1920);

    span {
      cursor: pointer;
      width: size(36.69, 1920);
      height: 0.208vw;
      background-color: #626262;
      position: absolute;


      &::before {
        content: "";
        width: 1.875vw;
        height: 0.208vw;
        background-color: #626262;
        position: absolute;
        top: - size(9, 1920);
        left: 0;
        @media (max-width: 420px) {
          width: size(36.69, 360);
          top: - size(12, 360);
          height: size(4, 360);
        }
      }

      &::after {
        content: "";
        width: 1.250vw;
        height: 0.208vw;
        background-color: #626262;
        position: absolute;
        top: size(9, 1920);
        left: 0;
        @media (max-width: 420px) {
          width: size(24, 360);;
          top: size(12, 360);
          height: 1.111vw;
        }
      }

      @media (max-width: 420px) {
        width: size(36.69, 360);
        left: -11.611vw;
        height: 1.111vw;
      }
    }
  }

  .text {
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.938vw;
    line-height: 150%;
    color: #999999;
    margin-left: 0;
    margin-left: size(12, 1920);
    @media (max-width: 420px) {
      margin-left: 0;
      font-size: 5vw;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.594vw;

  .l__phone, .all__phone {
    display: flex;
    flex-direction: column;
  }

  .phone-number {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.146vw;
    line-height: 130%;
    color: #82B2A2;
  }

  .text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.938vw;
    line-height: 130%;
    color: #999999;
  }

  @media (max-width: 420px) {
    display: none;
  }
}

.login {
  button {
    width: 10.260vw;
    border: 2px solid #82B2A2;
    background-color: white;
    padding: 0.625vw;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 150%;
    text-align: center;
    color: #4A4A4A;
  }

  @media (max-width: 420px) {
    display: none;
  }
}

//PAGE

.page {
  .page__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 2.865vw;
      line-height: 130%;
      color: #1F1F1F;
      display: flex;
      flex-direction: column;
      @media (max-width: 420px) {
        font-size: size(22, 360);
        width: 88%;
      }

      span {
        color: #82B2A2;
      }
    }

    .__mobile {
      display: none;
      @media (max-width: 420px) {
        display: flex;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: size(14, 360);
        line-height: 150%;
        color: #1F1F1F;
        margin-top: size(15, 420);
      }
    }

    img {
      width: 45.208vw;
      @media (max-width: 420px) {
        display: none;
      }
    }

    @media (max-width: 420px) {
      align-items: unset;
      flex-direction: column;
    }
  }

  @media (max-width: 420px) {
    padding-top: size(30, 360);
  }
}

//CARDS

.card__wrapper {
  height: size(650, 1920);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: size(24, 1920);
    line-height: 130%;
    color: #1F1F1F;
    margin-bottom: size(26, 1920);
    @media (max-width: 420px) {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: size(15, 360);
      line-height: 130%;
      color: #1F1F1F;
      margin-bottom: size(16, 360);
    }
  }

  ul > li {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: size(18, 1920);
    line-height: 150%;
    color: #1F1F1F;
    margin-bottom: size(26, 1920);
    @media (max-width: 420px) {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: size(11.6, 360);
      line-height: 150%;
      color: #1F1F1F;
      margin-bottom: size(20, 360);
    }
  }

  .left__card, .right__card-down, .right__card-up {
    background-color: #F2F7F6;
    padding: size(32, 1920);
    display: flex;
    flex-direction: column;
    @media (max-width: 420px) {
      width: 100%;
      height: size(424, 360) !important;
      margin-top: size(15, 360);
      padding: size(23, 360);
    }
  }

  .left__card {
    height: 100%;
    width: size(509, 1920);
    @media (max-width: 420px) {
      width: 100%;
    }
  }

  .right__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: size(1051, 1920);
    height: 100%;
    @media (max-width: 420px) {
      height: auto;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }

  .right__cards-up {
    display: flex;
    justify-content: space-between;
    @media (max-width: 420px) {
      height: auto;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }

  .right__card-up {
    width: size(509, 1920);
    height: size(361, 1920);
    @media (max-width: 420px) {
      height: auto;
      flex-direction: column;
      width: 100%;
    }
  }

  .lola {
    display: flex;
    justify-content: space-between;
    @media (max-width: 420px) {
      height: auto;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }

  .right__card-down {
    height: size(256, 1920);
    @media (max-width: 420px) {
      width: 100%;
    }
  }

  @media (max-width: 420px) {
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin-top: size(27, 360);
  }
}

.statistics {
  margin-top: size(75, 1920);
  @media (max-width: 420px) {
    margin-top: 0;
  }
}

//STATISTICK

.statistics__wrapper {
  width: size(1136, 1920);
  margin: auto;
  display: flex;
  justify-content: space-between;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: size(281, 1920);
    @media (max-width: 420px) {
      width: size(239, 360);
      justify-content: space-between;
      margin-top: size(48, 360);
    }
  }

  .number {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: size(55, 1920);
    line-height: 130%;
    color: #82B2A2;
    @media (max-width: 420px) {
      font-size: size(47, 360);
    }
  }

  .text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: size(18, 1920);
    line-height: 150%;
    color: #1F1F1F;
    padding-left: size(18, 1920);
    @media (max-width: 420px) {
      font-size: size(15, 360);
      padding-left: size(16, 360);
    }
  }

  @media (max-width: 420px) {
    width: 85%;
    flex-direction: column;
    align-items: center;
  }
}

hr {
  width: 100%;
  height: 1px;
  background-color: #C0E4E4;
  margin-top: size(79, 1920);
  margin-bottom: size(47, 1920);
  @media (max-width: 420px) {
    display: none;
  }
}

//MAP

.map {
  @media (max-width: 420px) {
    display: none;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .map__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(30, 1920);

    .title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: size(36, 1920);
      line-height: 130%;
      color: #1F1F1F;
    }

    .description {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: size(18, 1920);
      line-height: 140%;
      color: #999999;
      width: size(405, 1920);
    }
  }

  iframe {
    width: 100%;
    height: size(359, 1920);
  }
}

//FOOTER

footer {
  @media (max-width: 420px) {
    display: none;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: size(48, 1920);
        line-height: 130%;
        color: #C51103;
      }

      .text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: size(18, 1920);
        line-height: 140%;
        color: #1F1F1F;
        width: size(305, 1920);
        margin-left: size(26, 1920);
      }
    }
  }

  .footer__bottom {
    height: size(180, 1920);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__contact {
      width: size(249, 1920);
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: size(22, 1920);
        line-height: 130%;
        color: #82B2A2;
        margin-bottom: size(10, 1920);

        svg {
          width: size(24, 1920);
        }
      }

      .description {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: size(16, 1920);
        line-height: 130%;
        color: #999999;
      }
    }
  }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
